.it_time_group {
    row-gap: 8px;
}

.it_time_row {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    align-items: center;
    column-gap: 8px;
}

.it_time_row .o_field_widget.o_field_selection select.o_input,
.it_time_row .o_field_widget.o_field_date input.o_input {
    width: auto;
    min-width: 110px;
}

.it_time_label {
    white-space: nowrap;
}

.it_time_separator {
    padding: 0 4px;
}
